$primary-color: rgb(0, 155, 189);
.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    color: $primary-color;
  }

  img {
    width: 200px;
    display: block;
  }